<div id = "generic_list">
<h1>Listing questions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr class = "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= question.name %></td>
    <td><%= truncate(strip_tags(question.question),:length=>40) %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<div id='footer'>
<br />
<%= link_to 'New Question', new_question_path %>
<br/>
<%= link_to 'Companies', companies_path %>
<br/>
<%= link_to 'Postings', postings_path %>
</div>
