<div id="generic_list">
<h1>Listing postings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Company</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postings.each do |posting| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= posting.title %></td>
    <td><%= truncate(strip_tags(posting.description), :length=>80) %></td>
    <td><%= posting.company %></td>
    <td><%= posting.date %></td>
    <td><%= link_to 'Show', posting %></td>
    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Destroy', posting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<div id='footer'>
<br />

<%= button_to 'New Posting', new_posting_path, :method=>:get %>
<br/>
<%= link_to 'Companies', companies_path %>
<br/>
<%= link_to 'Questions', questions_path %>
</div>
